- title "#{@chamber.titleize} Results for 112 Congress"

- unless @bills.empty? || @user.district.nil?
  =# paginate @bills
  / this page displays the representation table to compare user and rep votes
  / it lists the bills the user has voted on, the user’s vote, the rep’s vote, and bill house result
  %table.table.zebra-striped
    %tr
      %th Bill
      %th Your Vote
      - if @chamber == 'house'
        %th Your District Vote
        %th= "#{@user.representative.full_name}'s vote"
      - else
        %th= @user.us_state
        %th= "Senators #{@user.senators.map(&:last_name).to_sentence}"
      %th Result
    - @bills.each do |bill|
      %tr
        %td= link_to bill.bill_title, bill
        %td= bill.users_vote(@user)
        - if @chamber == 'house'
          %td= @user.district.format_votes_tally(bill)
          %td= @user.reps_vote_on(bill)
        - else
          %td= @pg_state.format_votes_tally(bill) unless @pg_state.nil?
          %td
            - @user.senators_vote_on(bill).each do |s|
              = "#{s[:name]}: #{s[:value]}"
              %br
        %td
          - if (bill.rolled?)
            = bill.passed? ? "Passed" : "Failed"
          - else
            No vote yet
- else
  There are no bills that have been voted on by anyone (sounds like I need to pull rolls)