%p#notice= notice

%p
  %b Text:
  = @comment.text
%p
  %b User name:
  = @comment.user_name
%p
  %b Email:
  = @comment.email

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
