- title 'Geocode Saved'
%p Good job, your geocode as been saved. You are now a part of the following groups:
%ul
  - @user.custom_groups.each do |group|
    %li= link_to group.name, group
%h2 Your representative's Activity
%p (Remember, only a subset of bills are loaded now)
%h3
  Senior Senator: #{link_to @senior_senator.full_name, @senior_senator}
%ul
  - @senior_senator.bills.each do |b|
    %li= link_to b.bill_title, bill_path(b)
/ we should DRY this up
%h3
  Junior Senator: #{link_to @junior_senator.full_name, @junior_senator}
%ul
  - @junior_senator.bills.each do |b|
    %li= link_to b.bill_title, bill_path(b)
%h3
  Rep: #{link_to @representative.full_name, @representative}
%ul
  - @representative.bills.each do |b|
    %li= link_to b.bill_title, bill_path(b)