%p
  User: #{@user.name}
%p
  Email: #{@user.email if @user.email}

%h3 State
= link_to @user.state.name, @user.state

%h3 District
= link_to @user.district.name, @user.district

%h3 Rep
= link_to @user.representative.full_name, @user.representative

%h3 Rep
- @user.senators.each do |sen|
  %p
    = link_to sen.full_name, sen

%h3

%h3 Joined Groups
%table.table.zebra-striped
  %tr
    %th Name
    %th Members
  - @user.joined_groups.each do |g|
    %tr
      %td= link_to g.name, g
      %td= g.member_count

%h3 Followed Groups
%table.table.zebra-striped
  %tr
    %th Name
    %th Members
  - @user.followed_groups.each do |g|
    %tr
      %td= link_to g.name, g
      %td= g.member_count

