
- present @bill do |bill_presenter| 
  %h2= bill_presenter.bill_title
  %h3= bill_presenter.bill_sponsor
  .well
    = bill_presenter.bill_description
    %h3 Summary
    /= bill_presenter.summary
  .well
    = bill_presenter.vote_region
  .well
    = bill_presenter.activity
  .well
    = bill_presenter.rolls
  -# load text via ajax


