- title "#{@user.name }, manage your groups"

%p Joined = follow results + your votes contribute to the group
%p Follow = only see group vote results
%p You can only be a joined member of one congressional district and one state
%p And the state should be the state containing the district
%p Same for country.
%p But you can create, join and follow as many custom groups as you like.

= simple_form_for :user, :url => update_groups_url do |f|
  %div
    %h2 Joined Groups
    = text_area_tag 'joined_groups', nil, "data-pre" => @joined_groups_json_data
  %div
    %h2 Followed Groups
    %ul
      %li
        states
        = text_area_tag 'followed_groups_states', nil, "data-pre" => @followed_groups_states
      %li
        districts
        = text_area_tag 'followed_groups_districts', nil, "data-pre" => @followed_groups_districts
      %li
        custom
        = text_area_tag 'followed_groups_custom', nil, "data-pre" => @followed_groups_custom
  %div
    = link_to "Create your own custom group", new_polco_group_path
    i'll try to get the create custom group done tonight
  = f.submit
