!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title= content_for?(:title) ? yield(:title) : "Polco"
      = include_gon
      %meta{:charset => "utf-8"}
      %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
      %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
      %title= content_for?(:title) ? yield(:title) : "Polco"
      %script{:src => "http://maps.googleapis.com/maps/api/js?key=AIzaSyB0TqAnoS48viBFjft21hyyhGnpXgWMCtw&sensor=false", :type => "text/javascript"}
      %meta{:content => "", :name => "description"}
      %meta{:content => "Tim Booher", :name => "author"}
      = stylesheet_link_tag    "application", :media => "all"
      = javascript_include_tag "application"
      = csrf_meta_tags
      = yield(:head)
  %body
    %header
      #header
        .container.relative
          .row
            .span12
              #social
                %a{:href => ""}= image_tag "twitter.png", width: 20, height: 20
                %a{:href => ""}= image_tag "facebook.png", width: 20, height: 20
                %a{:href => ""}= image_tag "gplus.png", width: 20, height: 20
                %a{:href => ""}= image_tag "rss.png", width: 20, height: 20
                - unless current_user
                  = link_to "login", signin_path
                - else
                  = link_to "Geocode!", users_geocode_path unless current_user.geocoded
                  = link_to "logout", signout_path
              %h1#logo Polco
              %nav
                %ul#navi
                  %li.selected= link_to "House Bills", represent_house_bills_path
                  %li= link_to "District + Reps", represent_legislators_districts_path
                  - if current_user
                    %li= link_to "H Representation", results_path(:house)
                  %li= link_to "Senate Bills", represent_senate_bills_path
                  %li= link_to "States", represent_states_path
                  - if current_user
                    %li= link_to "S Representation", results_path(:senate)
    .container
      - if content_for?(:title)
        %section{id: yield(:title)}
          .sect_title
            %h3= yield(:title)
      %section
        - flash.each do |name, msg|
          %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
            %a.close{"data-dismiss" => "alert"} ×
            = msg
        = yield
    %footer
      .container
        .row
          .span3
            %p.title Recent Bills
            %p
              %a{:href => ""} Bill Bad
              %br/
              %a{:href => ""} Bill Good
              %br/
          .span2
            %p.title Pages
            %p
              %a{:href => ""} Some good ideas?
              %br/
          .span2
            %p.title Social
            %p
              %a{:href => ""} Twitter
              %br/
              %a{:href => ""} G+
              %br/
              %a{:href => ""} Facebook
              %br/
              %a{:href => ""} Dribbble
              %br/
          .span4.offset1
            %p.title Contact us
            %form
              .controls
                %input#name.input-xlarge{:placeholder => "Name", :type => "text"}
              .controls
                %input#email.input-xlarge{:placeholder => "Email", :type => "text"}
              .controls
                %textarea#textarea.input-xlarge{:placeholder => "your message", :rows => "3"}
              %button.btn.btn-success{:type => "submit"} Send Message
    .container
      %p Coypright © 2011 | polco.us